@font-face {
    font-family: 'cloisterblack-light';
    src: url('../fonts/cloisterblack-light/cloister_black_light-webfont.eot');
    src: url('../fonts/cloisterblack-light/cloister_black_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cloisterblack-light/cloister_black_light-webfont.woff') format('woff'),
         url('../fonts/cloisterblack-light/cloister_black_light-webfont.ttf') format('truetype'),
         url('../fonts/cloisterblack-light/cloister_black_light-webfont.svg#cloister_blacklight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'circe-bold';
    src: url('../fonts/circe-bold/circe-bold.ttf');
    src:    url('https://nomail.com.ua/files/eot/59d60af3c22a11a2bf842cd9490afb2b.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/59d60af3c22a11a2bf842cd9490afb2b.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/59d60af3c22a11a2bf842cd9490afb2b.woff2') format('woff2');
}


@font-face {
    font-family: 'glober-regular';
    src: url('../fonts/glober-regular/glober-regular-webfont.eot');
    src: url('../fonts/glober-regular/glober-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober-regular/glober-regular-webfont.woff') format('woff'),
         url('../fonts/glober-regular/glober-regular-webfont.ttf') format('truetype'),
         url('../fonts/glober-regular/glober-regular-webfont.svg#glober_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'glober-light';
    src: url('../fonts/glober-light/glober-light-webfont.eot');
    src: url('../fonts/glober-light/glober-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober-light/glober-light-webfont.woff') format('woff'),
         url('../fonts/glober-light/glober-light-webfont.ttf') format('truetype'),
         url('../fonts/glober-light/glober-light-webfont.svg#globerlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'glober-bold';
    src: url('../fonts/glober-bold/glober-bold-webfont.eot');
    src: url('../fonts/glober-bold/glober-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glober-bold/glober-bold-webfont.woff') format('woff'),
         url('../fonts/glober-bold/glober-bold-webfont.ttf') format('truetype'),
         url('../fonts/glober-bold/glober-bold-webfont.svg#globerbold_free') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'harbell_personal_use_onlyRg';
    src: url('../fonts/harbellpersonaluse/harbell_personal_use-webfont.eot');
    src: url('../fonts/harbellpersonaluse/harbell_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/harbellpersonaluse/harbell_personal_use-webfont.woff') format('woff'),
         url('../fonts/harbellpersonaluse/harbell_personal_use-webfont.ttf') format('truetype'),
         url('../fonts/harbellpersonaluse/harbell_personal_use-webfont.svg#harbell_personal_use_onlyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latolight-italic';
    src: url('../fonts/lato-lightitalic/lato-lightitalic-webfont.eot');
    src: url('../fonts/lato-lightitalic/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lightitalic/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/lato-lightitalic/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-lightitalic/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black/lato-black-webfont.eot');
    src: url('../fonts/lato-black/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black/lato-black-webfont.woff') format('woff'),
         url('../fonts/lato-black/lato-black-webfont.ttf') format('truetype'),
         url('../fonts/lato-black/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lato-italic';
    src: url('../fonts/lato-italic/lato-italic-webfont.eot');
    src: url('../fonts/lato-italic/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato-italic/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato-italic/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light/lato-light-webfont.eot');
    src: url('../fonts/lato-light/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat-bold/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'myriadpro-regular';
    src: url('../fonts/myriadpro-regular/myriadpro-regular.otf');
    src:    url('https://nomail.com.ua/files/eot/d75d7f70aa160104a45a743eae7a8a7e.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/d75d7f70aa160104a45a743eae7a8a7e.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/d75d7f70aa160104a45a743eae7a8a7e.woff2') format('woff2');
}


@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans-regular/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'opensans-light';
    src: url('../fonts/opensans-light/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'opensans-lightitalic';
    src: url('../fonts/opensans-lightitalic/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans-lightitalic/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-lightitalic/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-lightitalic/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-lightitalic/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/opensans-semibold/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'robotocondensed-regular';
    src: url('../fonts/robotocondensed-regular/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-regular/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotocondensed-light';
    src: url('../fonts/robotocondensed-light/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../fonts/robotocondensed-light/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on June 22, 2018 */























